.contact {
  padding: 180px 0px 100px 0px;
  min-height: 100vh;
}

.contact-form-container {
  max-width: 600px;
  margin: auto;
}

.contact-form-container form label {
  display: block;
  font-weight: 700;
}

.contact-form-container form input,
textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.contact-form-container form textarea {
  min-height: 80px;
}
