<div class="container">
  <section class="contact">
    <div class="contact-form-container">
      <form action="">
        <h1 class="underline">Une question ? Contactez nous</h1>

        <label class="my-20" for="name">Nom</label>
        <input type="text" name="name" id="name" />

        <label class="my-20" for="email">Email</label>
        <input type="email" name="email" id="email" />

        <label class="my-20" for="question">Questions et remarques</label>
        <textarea id="question" name="question"></textarea>

        <button class="btn btn-dark my-20">Soumettre</button>
      </form>
    </div>
  </section>
</div>
