<section class="vp">
  <div class="vp-content">
    <h1>Toute l'expertise Camerounaise dans un Café</h1>
    <div class="separator"></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A inventore
      maxime beatae molestiae excepturi provident, hic quod, fugiat aut veniam,
      quo distinctio! Tenetur molestias error, ullam eum dolores explicabo eos?
    </p>
    <a routerLink="/noustrouver" class="btn btn-primary my-10"> Découvrir</a>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="feature">
      <i class="my-10">
        <fa-icon [icon]="faCoffee" size="3x" color="red"> </fa-icon
      ></i>
      <h2>Un nouveau café par jour</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia
        debitis asperiores fugiat quasi illo doloremque in, magnam ut
        perferendis libero.
      </p>
    </div>
    <div class="feature">
      <i class="my-10">
        <fa-icon [icon]="faClock" size="3x" color="red"> </fa-icon
      ></i>
      <h2>Ouvert 24h/24 7j/7</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Exercitationem, ut eum. Excepturi corporis ratione cupiditate, fuga ea
        placeat deleniti quisquam.
      </p>
    </div>
  </div>
</section>
<div class="person"></div>
<section class="reservation">
  <div class="container">
    <h2>Reserver des maintenant</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui facilis
      soluta cupiditate iusto saepe molestias. Rem maiores aperiam ipsam nam?
    </p>
    <a routerLink="/contact" class="btn btn-dark my-20">RESERVER</a>
  </div>
</section>
