.trouver {
  padding: 180px 0px 100px 0px;
  overflow: auto;
  min-height: 100vh;
}

.trouver-img {
  float: left;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.trouver-text {
  float: right;
  width: 50%;
}
