<div class="container">
  <section class="trouver">
    <img class="trouver-img" src="./assets/images/cafe2.png" alt="carte" />
    <div class="trouver-text">
      <h1 class="underline">Où nous trouver</h1>
      <h3>
        Métro : ligne <span class="chip chip-purple">4</span> - Odéon , ligne
        <span class="chip chip-brown">11</span> - Mabillion
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
        earum.
      </p>
    </div>
  </section>
</div>
